

@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
*{
    font-family: "Bubblegum Sans", sans-serif;
}
.bgImg{
    width: 90%;
    /* height: 670px; */

}
.dora{
    width: 500px;
   position: absolute;
   right: 100px;
    
}
.head{
    color: #005da1;
    font-size: 40px;
    font-family: "Bubblegum Sans", sans-serif;
    position: absolute;
    top: 570px;
    left: 550px;

}
#divi{
    text-align: center;
}
.friends{
    position:  absolute;
    top: 195px;
    left: 560px;

}
.display{
   justify-content: center;
   align-items: center;
   
   position: absolute;
   left: 300px;
 
   
   
}
.row1{
    
    
    
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-template-rows: auto auto auto ;
    grid-gap: 50px;
    /* row-gap: 100px; */
}
.row2{
    
    display: grid;
    grid-template-columns: auto auto auto; 
    grid-gap: 80px;

}
